<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>빌리풋</title>
    <link rel="stylesheet" href="stylesheets/mycss.css"/>
  </head>
  <body>
    <div id="MM_product">
      <div id="top">
        <img class="logo" src="images/logo.png"/>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="product">PRODUCT</a></li>
            <li><a href="/order">ORDER</a></li>
            <li><a href="board/review">REVIEW</a></li>
          </ul>
        </nav>
      </div>
      <div id="body">

        <div class="main_contents">

          <div class="product_list">

            <div class="product_item">

              <img class="product_item_image" src="images/main_item1.png"/>
              <div class="product_item_title">닭가슴살 오븐구이</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>

            <div class="product_item">

              <img class="product_item_image" src="images/main_item2.png"/>
              <div class="product_item_title">닭똥집 오븐구이</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>

            <div class="product_item">

              <img class="product_item_image" src="images/product_img1.png"/>
              <div class="product_item_title">힐링 관절용사료</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>

            <div class="product_item">

              <img class="product_item_image" src="images/product_img2.png"/>
              <div class="product_item_title">힐링 소고기사료</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>

            <div class="product_item">

              <img class="product_item_image" src="images/product_img3.png"/>
              <div class="product_item_title">힐링 연어사료</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>

            <div class="product_item">

              <img class="product_item_image" src="images/product_img4.png"/>
              <div class="product_item_title">소간 토핑 파우더</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>

            <div class="product_item">

              <img class="product_item_image" src="images/product_img5.png"/>
              <div class="product_item_title">다이어트 단호박스틱</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>

            <div class="product_item">

              <img class="product_item_image" src="images/product_img6.png"/>
              <div class="product_item_title">멸치 오리고기말이</div>
              <div class="product_item_tag">#아침7시주문 #당일마감</div>
              <div class="product_item_price">5,900<font class="product_item_won">won</font></div>

            </div>




          </div>


        </div>


    </div>
    <div id="footer">
      ⓒ 2020 MangGoMangDuck Company. All Rights Reserved.
    </div>
  </div>

  </body>

  <script type="text/javascript">

	$(function(){
		stickyFooter();

		$(window).scroll(stickyFooter).resize(stickyFooter);
	});


	function stickyFooter(){
		document_height = $(document).height(); // 문서 전체 높이
		document_scrollTop = $(document).scrollTop(); // 문서 전체 높이 중 스크롤 위치
		window_height = $(window).height(); // 창 높이
		footer_height = $("#footer").height();

		gap = document_height - footer_height - window_height;
		bottom = document_scrollTop - gap ;

		if(document_scrollTop > gap){
			$("#footer").css("bottom", bottom+"px");
		}else{
			$("#footer").css("bottom","0");
		}
	}
</script>

</html>
