
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>빌리풋</title>
    <link rel="stylesheet" href="/stylesheets/mycss.css"/>
  </head>
  <body>
    <div id="MM_write">
      <div id="top">
        <img class="logo" src="/images/logo.png"/>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/product">PRODUCT</a></li>
            <li><a href="/order">ORDER</a></li>
            <li><a href="/board/review">REVIEW</a></li>
          </ul>
        </nav>
      </div>
      <div id="body">

        <div class="review_title">
            후기를 작성해주세요
          </div>

        <div class="review_content" >
        <form  action="/board/write" method="post" >

            <div class="title">
                <span class="title_span">제목</span>
                <span><input class="title_input" type="text" name="title" id="title" required/> </span>
            </div>
            <div class="memo">
                <span class="title_span">구입내역</span>
                <span ><input class="ordered_input" type="text" name="ordered_product" id="ordered_product" required/></span>
                <span class="title_span" >평점</span>
                <span><input class="star_input" type="text" name="star" id="star" required/>/5</span>
            </div>
            <div>
                <textarea class="content_input" name="content" id="content" cols="30" rows="10" required></textarea>
            </div>
            <div> <button  class="submit_btn" type="submit">글쓰기</button></div>
            
        </form>
    </div>

    </div>
    <div id="footer" style="position: absolute; bottom: 0;">
      ⓒ 2020 MangGoMangDuck Company. All Rights Reserved.
    </div>
  </div>

  </body>



</html>
